@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
.navbar-header button {
	color:#fff;
}
.cor-branca{
	color:#fff;
}
.fullscreen {
	width:100%;
}
main {
	padding-top:50px;
}
footer {
	color: #fff;
	text-align: center;
	padding: 20px 0;
    position:absolute;
    bottom:0; 
    width:100%;
    margin-top: 10px;
	
}
body {
	margin-bottom: -11px;
	background-image: "img/fundo.jpg";
}
.tab-pane {
	padding: 10px 5px;
}

div.tilulo {
	width:100%;
	height: 50px;
    color: #f9e6ff;
    background-color: #9900cc;
    border-color: #420042;
    margin-top: 0px;
    margin-bottoM:20px;
}

h1.descricao-titulo {
	font-family: 'Noto Serif', serif;
	font-size:18px!important;
	margin: 0px;
	text-align:center;
	line-height: 50px !important;
	font-weight: bold;
}


/*HELPERS*/
.gap-top5 {
	margin-top:5px;
}
.gap-bottom10 {
	margin-bottom:10px;
}
.gap-left10 {
	margin-left: 5px;
}
.cursor{
	cursor: pointer;
}
.abreModal{
	color: #7E3B86;
}
.abreModal  label{
	font-size: 20px !important;
	float: left;
	margin-left: 10px;
}
.glyphicon {
	cursor: pointer;
}